[core]
	precomposeunicode = true
	excludesfile = ~/.gitignore
	quotepath = false
	hooksPath = /home/cobi/dev/hooks
[credential]
	helper = cache --timeout=36000
[push]
	default = simple
	followTags = true
[alias]
	a = add .
	rb = rebase --continue
	st = status
	ci = commit -am
	co = checkout
	cob = checkout -b
	d = branch -d
	D = branch -D
	df = diff
	pr = pull -r origin master
	please = push --force-with-lease
[color]
	status = always
	ui = true
[color "status"]
        added = green
        changed = yellow
	untracked = magenta
[user]
	name = hulkoba
