[core]
	precomposeunicode = true
	excludesfile = ~/.gitignore
	quotepath = false
[github]
	user = hulkoba
[user]
	name = Jacoba
	email = jacoba.brandner@web.de
[credential]
	helper = cache --timeout=3600
[push]
	default = simple
	followTags = true
[alias]
	a = add .
	rb = rebase --continue
	st = status
	ci = commit -am
	co = checkout
	cob = checkout -b
	df = diff
	pr = pull -r origin master
	please = push --force-with-lease
[color]
	status = always
	ui = true
[color "status"]
  	added = green
  	changed = yellow
	untracked = magenta
