"*":
  "atom-beautify":
    css:
      beautify_on_save: true
      force_indentation: true
    html:
      beautify_on_save: true
      wrap_attributes: "force-aligned"
    js:
      beautify_on_save: true
      indent_char: " 2"
      indent_with_tabs: false
      jslint_happy: true
      max_preserve_newlines: 5
      space_after_anon_function: true
      space_in_paren: true
      wrap_line_length: 120
    json:
      beautify_on_save: true
    less:
      align_assignments: true
      beautify_on_save: true
      convert_quotes: "single"
      force_indentation: true
      preserve_newlines: true
  "color-tabs":
    backgroundStyle: "solid"
  core:
    disabledPackages: [
      "language-clojure"
      "language-go"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-ruby"
      "language-ruby-on-rails"
      "language-sass"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "batman-syntax"
    ]
  editor:
    fonzSize: 13
    preferredLineLength: 120
  "exception-reporting":
    userId: "4f710e74-b7ac-d570-817e-f25c5fd271b7"
  firacode:
    fontWeight: "light"
  linter: {}
  "linter-js-standard":
    lintMarkdownFiles: true
    showEslintRules: true
  "one-dark-ui":
    fontSize: 13
    tabSizing: "Maximum"
  welcome:
    showOnStartup: false
  whitespace: {}
