'atom-workspace atom-text-editor':
 'ctrl+/': 'editor:toggle-line-comments'

'atom-text-editor':
 'ctrl-shift-d': 'editor:delete-line'
 'ctrl-d': 'editor:duplicate-lines'

'.platform-win32 atom-text-editor, .platform-linux atom-text-editor':
 'ctrl-b': 'find-and-replace:select-next'
