# Enable aliases to be sudo’ed
alias sudo='sudo '

#
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias ..="cd .."

# shortcuts
alias dev="cd ~/dev"
alias fh="cd ~/dev/fh"
alias latex="cd ~/Dokumente/LaTeX"


# npm
alias ni="npm install"
alias nun="npm uninstall"
alias nup="npm update"


# react-native aliases
alias rnrun='react-native run-android'
alias rnlog='react-native log-android'
alias rnstart='react-native start'


alias update='sudo apt-get update'